/* @import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans:wght@100..900&display=swap');

:root {
  --scrollbar-display: block;
  --scrollbar-size: 8px;
  --scrollbar-color: #dee2e6;
  --scrollbar-thumb-color: #65696e;
  --scrollbar-thumb-hover-color: #393d42;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}

::-webkit-scrollbar {
  display: var(--scrollbar-display);
  width: var(--scrollbar-size, 8px);
  height: var(--scrollbar-size, 8px);
  background: var(--scrollbar-color, #dee2e6);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-color, #dee2e6);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #adb5bd);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color, #495057);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #000;
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0.5em 0; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

p {
  margin: 0.5em 0;
  font-size: 1em;
  /* margin-block-start: 0.5em; */
  /* margin-block-end: 0.5em; */
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

a {
  color: inherit;
  text-decoration: none;
}

#app a {
  text-decoration: underline;

}

a:hover {
  color: rgb(211, 38, 38);
}

#app {
  height: 100%;
  position: relative;
  overflow-y: visible;
  overflow-x: unset;
}

body>*:not(#app, header) {
  scroll-snap-align: end;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

body[bottom-header]>*:not(#app, header) {
  padding-bottom: 48px;
}

body #app>* {
  /* scroll-margin-top: 32px; */
  scroll-snap-align: start;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 48px;
  padding-bottom: 0.5%;
}

#app>:not(footer) {
  background-color: white;
}

body>main {
  height: calc(100% - 32px);
}

/** HEADER */

body[bottom-header] header {
  bottom: 0;
}

[header-section] {
  height: 100%;
}

header {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  height: 32px;
  overflow: hidden;
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 99;
}

[header-section] {
  padding-left: 0.5em;
  padding-right: 0.5em;
  mix-blend-mode: difference;
  background-color: #fff;
  color: #000;
}

[header-grid] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  height: 100%;
}

[header-box] {
  height: 100%;
  display: flex;
  align-items: center;
}

/** GRID */

[grid] {
  display: grid;
  gap: 0.5em;
}

/** FLEX */

[flex] {
  display: flex;
  gap: 0.5em;
}

[flex="row"] {
  flex-direction: row;
}

[flex="column"] {
  flex-direction: column;
}

/** SIZING HEIGHT */

[h100] {
  height: 100%;
}

[h50] {
  height: 50%;
}

[h33] {
  height: calc(100% / 3);
}

[h25] {
  height: 25%;
}

[h10] {
  height: 10%;
}

/** BG COLOR */
#app [black],
[black] {
  background-color: black;
  color: white;
}

#app [red],
[red] {
  background-color: rgba(201, 54, 54, 0.342);
}

#app [blue],
[blue] {
  background-color: rgba(60, 60, 228, 0.336);
}

#app [green],
[green] {
  background-color: rgba(33, 255, 33, 0.253);
}

section,
main,
footer,
article,
[section],
[container] {
  scroll-snap-align: start;
  position: relative;
  min-height: 100%;
  height: fit-content;
  overflow: hidden;
}

[padding],
[padding="half"] {
  padding: 0.5em;
}

[padding="one"] {
  padding: 1em;
}

[padding="two"] {
  padding: 2em;
}

/** TITLED SECTION */

[titled-section][grid] {
  grid-template: "section-title section-content section-content section-content" / 1fr 1fr 1fr 1fr;
}

[titled-section][grid][fit] {
  grid-template: "section-title section-content section-content ." / 1fr 1fr 1fr 1fr;
}

[titled-section] [section-title] {
  grid-area: section-title;
  overflow: hidden;
  width: 100%;
}

[titled-section] [section-content] {
  grid-area: section-content;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 1024px) {

  [titled-section][grid][fit],
  [titled-section][grid] {
    grid-template: "section-title section-content section-content section-content" / 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {

  [titled-section][grid][fit],
  [titled-section][grid] {
    grid-template:
      "section-title" auto
      "section-content" 1fr;
  }
}

@media screen and (max-width: 480px) {

  [titled-section][grid][fit],
  [titled-section][grid] {
    color: red;
  }
}

/** FOOTER */

footer {
  height: 100%;
  background-color: #000;
  color: #fff;
}

/** PARAGRAPH */

[paragraph] [paragraph-box] {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/** CONTAINER BOX */
[container-box] {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
}

[dev] [container-box] {
  background: linear-gradient(175deg, #333, #777);
}

[container] [box1] {
  grid-area: box1;
}

[container] [box2] {
  grid-area: box2;
}

[container] [box3] {
  grid-area: box3;
}

[container] [box4] {
  grid-area: box4;
}

[container] [box5] {
  grid-area: box5;
}

[container] [box6] {
  grid-area: box6;
}

[container] [box7] {
  grid-area: box7;
}

[container] [box8] {
  grid-area: box8;
}

/** CONTAINER 2x2 */

[container-2x2][grid] {
  grid-template:
    "box1 box2" 1fr
    "box3 box4" 1fr / 1fr 1fr;
}

/** CONTAINER 3x2 */

[container-3x2][grid] {
  grid-template:
    "box1 box2 box3" 1fr
    "box4 box5 box6" 1fr / 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  [container-3x2][grid] {
    /* grid-template: ; */
  }
}

@media screen and (max-width: 720px) {
  [container-3x2][grid] {
    grid-template:
      "box1 box2" 1fr
      "box3 box4" 1fr
      "box5 box6" 1fr / 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  [container-3x2][grid] {
    color: red;
  }
}

/** IMAGE */

img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/** CARD */

[card] {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

[card-content] {
  background-color: #495057;
  border-radius: 1em;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

[card-name] {
  margin-top: 0.5em;
}

/** HERO */

[section-hero] [hero-text] {
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 0.8em;
  margin: 0;

  /* background: #000;
  color: white; */
}

[section-hero] [hero-desc] {
  color: #495057;
  /* white-space: pre-wrap;  */
  /* word-break: break-word;  */
}

/** CAROUSEL */

[carousel] {
  height: 100%;
  max-height: 100%;
  padding-left: 0;
  padding-right: 0;
}

[carousel] [carousel-scroll-x][flex] {
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  align-self: flex-end;
  --scrollbar-display: none;
  width: 100%;
  height: 100%;
  max-height: 50vh;
  align-items: flex-end;
}

[carousel] [card] {
  scroll-snap-align: center;
  width: 40%;
  max-width: 50vh;
  height: auto;
  flex: 0 0 auto;
  max-height: 100%;
}

[carousel] [card] [card-content] {
  display: flex;
  align-items: center;
  justify-content: center;
}