<section container="4" paragraph>
  <div h100 flex="row">
    <div flex-box>
      <h3><%- p_title %></h3>
    </div>

    <div flex-box>
      <% if (typeof p_1 !== "undefined" && p_1) { %>
      <%- p_1 %>
      <% } %>
    </div>

    <div flex-box>
      <% if (typeof p_2 !== "undefined" && p_2) { %>
      <%- p_2 %>
      <% } %>
    </div>

    <div flex-box>
      <% if (typeof p_3 !== "undefined" && p_3) { %>
      <%- p_3 %>
      <% } %>
    </div>

  </div>
</section>