<section section grid titled-section padding <% if (typeof fit !== "undefined" && fit == true) { %> fit <% } %>>
  <div section-title>
    <%- section_title %>
  </div>
  <div section-content>
    <%- section_content %>
  </div>
</section>