<section container carousel grid id="carousel">
  <div flex="row" carousel-scroll-x>
    <% card_list.forEach(card_content => { %>
    <%-
      include("card", {
        card_content,
      }) %>
    <% }) %>
  </div>
  <script type="module" src="/scripts/carousel.js"></script>
</section>