<div container grid container-2x2>

  <% if (typeof box1 !== "undefined" && box1) { %>
  <div container-box box1>
    <%- box1  %>
  </div>
  <% } %>

  <% if (typeof box2 !== "undefined" && box2) { %>
  <div container-box box2>
    <%- box2  %>
  </div>
  <% } %>

  <% if (typeof box3 !== "undefined" && box3) { %>
  <div container-box box3>
    <%- box3  %>
  </div>
  <% } %>

  <% if (typeof box4 !== "undefined"&&box4) { %>
  <div container-box box4>
    <%- box4  %>
  </div>
  <% } %>

</div>