<section section-hero black>
  <h1 hero-name hero-text>
    <%- hero_name  %>
  </h1>

  <% if (typeof hero_desc !== undefined && hero_desc) { %>
  <h1 hero-desc hero-text>
    <%- hero_desc %>
  </h1>
  <% } %>
</section>